# Environment variables for application
APP_NAME=
HOST=
DEV_PORT=
BASE_URL=

#MongoDB connection string
MONGODB_URI=

# Email settings for SMTP
SMTP_HOST=
EMAIL_USER=
EMAIL_PASS=

# Secrets
SECRET=
NUXT_SESSION_PASSWORD=